{
  "printWidth": 200,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "proseWrap": "preserve",

  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],

  "importOrder": [
    "^@src/(.*)$",

    "^@modules/(.*)$",
    "^@prisma/(.*)$",
    "^@security/(.*)$",
    "^@shared/(.*)$",

    "^@accounts/(.*)$",
    "^@contacts/(.*)$",
    "^@facilities/(.*)$",
    "^@opportunities/(.*)$",
    "^@permissions/(.*)$",
    "^@roles/(.*)$",
    "^@tenants/(.*)$",
    "^@users/(.*)$",
    "^@quotes/(.*)$",

    "^@nestjs/(.*)$",

    "<THIRD_PARTY_MODULES>",
    "<BUILTIN_MODULES>",
    "<TYPES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
